<ion-view>
  <ion-nav-buttons side="right">
    <a ng-controller="indexController" ng-click="signUp()" class="tab-item">
      <i class="icon ion-person-add"></i>
    </a>
  </ion-nav-buttons>
  <ion-content ng-controller="traineesController">
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Select Exercise
        </div>
          <select name="Clients" id="Clients" ng-model="exercise.name">
            <option>Select Exercise</option>
            <option ng-repeat="exercise in trainerexercises" value="{{exercise.name}}">{{exercise.name}}</option>
          </select>          
      </label>  
<!--       <div class="item item-input">
        <input type="text" ng-model="exercise.type" placeholder="Exercise Type">
      </div>  -->

<!--       <label class="item item-input item-select">
        <div class="input-label">
          Type of Workout
        </div>
        <select name="type" id="type" ng-model="exercise.type">
          <option value="">Select Type</option>
          <option value="Chest">Chest</option>
          <option value="Back">Back</option>
          <option value="Legs">Legs</option>
          <option value="Arms">Arms</option>
          <option value="Abdomen">Abdomen</option>
        </select>        
      </label> -->
      <label class="item item-input item-select">
        <div class="input-label">
          Type of Workout
        </div>
        <select name="type" id="type" ng-model="exercise.type">
          <option value="">Select Type</option>
          <option ng-repeat="exercise in trainerexercises" value="{{exercise.type}}">{{exercise.type}}</option>
        </select>        
      </label>
<!--       <div class="item item-input">
        <input type="hidden" value="{{exercise.type}}" ng-model="exercise.type" placeholder="{{exercise.type}}">
      </div> -->
      <div class="padding">
        <button class="button button-full button-assertive" ng-click="addExercise(exercise)">Submit</button>
      </div> 
    </div>
  </ion-content>
    <div class="tabs tabs-icon-top" ng-controller="indexController">
      <a ng-click="loggerButtonWithId(trainee.trainer_id)" class="tab-item">
        <i class="icon ion-edit"></i>
        Exercise Logger
      </a>
      <a ng-click="clientButton()" class="tab-item">
        <i class="icon ion-ios-people"></i>
        Users
      </a>
      <a ng-click="yourExercisesFromAddExercise(trainee.trainer_id)" class="tab-item">
        <i class="icon ion-ios-paper"></i>
        Your Exercises
      </a>
      <a ng-click="signOutUser()" class="tab-item">
        <i class="icon ion-log-out"></i>
        Log Out
      </a>
    </div>
</ion-view>