<ion-view>
  <ion-content>
  <div class="card" style="margin: 40px;">
      <div class="list list-inset">
        <div class="item item-input">
          <input type="text" ng-model="set.name" placeholder="set name">
        </div>
        <div class="item item-input">
          <input type="number" ng-model="set.reps" placeholder="number of reps">
        </div>
        <div class="item item-input">
          <input type="number" ng-model="set.weight" placeholder="weight">
        </div>
      <div class="padding">
        <button class="button button-block button-assertive" ng-click="sendSet(set)">Submit</button>
      </div>
    </div>  
  </div>
  </ion-content>
  <div class="tabs tabs-icon-top" ng-controller="indexController">
    <a ng-click="" class="tab-item">
      <i class="icon ion-edit"></i>
      Exercise Logger
    </a>
    <a ng-click="clientButton()" class="tab-item">
      <i class="icon ion-ios-people"></i>
      Users
    </a>
    <a ng-click="yourExercisesFromAddExercise(exercises[0].trainerid)" class="tab-item">
      <i class="icon ion-ios-paper"></i>
      Your Exercises
    </a>
    <a ng-click="signOutUser()" class="tab-item">
      <i class="icon ion-log-out"></i>
      Log Out
    </a>
  </div>
</ion-view>