<ion-view>
  <ion-content ng-controller="trainersController">
    <div class="list">
      <div class="item item-input">
        <input type="text" ng-model="exercise.name" placeholder="name">
      </div>
      <div class="padding">
        <button class="button button-block button-assertive" ng-click="addTrainerExercise(exercise)">Submit</button>
      </div>
    </div>  
  </ion-content>
  <div class="tabs tabs-icon-top" ng-controller="indexController">
    <a ng-click="clientButton()" class="tab-item">
      <i class="icon ion-ios-people"></i>
      Users
    </a>
    <a ng-click="yourExercises()" class="tab-item">
      <i class="icon ion-ios-paper"></i>
      Your Exercises
    </a>
    <a ng-click="signOutUser()" class="tab-item">
      <i class="icon ion-log-out"></i>
      Log Out
    </a>
  </div>
</ion-view>