<ion-view>
  <ion-nav-buttons side="right">
    <a ng-controller="indexController" ng-click="signUp()" class="tab-item">
      <i class="icon ion-person-add"></i>
    </a>
  </ion-nav-buttons>
  <ion-content ng-controller="trainersController">
    <div class="card" style="margin: 40px;">
      <div class="list list-inset">
        <div class="item item-input">
          <input type="text" ng-model="exercise.type" placeholder="Exercise Type">
        </div>
        <div class="item item-input">
          <input type="text" ng-model="exercise.name" placeholder="Exercise Name">
        </div>
        <div style="margin: 15px;">
          <button class="button button-block button-balanced" ng-click="addTrainerExercise(exercise)">Submit</button>
        </div>
      </div> 
    </div> 
  </ion-content>
  <div class="tabs tabs-icon-top" ng-controller="indexController">
    <a ng-click="loggerButton()" class="tab-item">
      <i class="icon ion-edit"></i>
      Exercise Logger
    </a>
    <a ng-click="clientButton()" class="tab-item">
      <i class="icon ion-ios-people"></i>
      Users
    </a>
    <a ng-click="yourExercises()" class="tab-item">
      <i class="icon ion-ios-paper"></i>
      Your Exercises
    </a>
    <a ng-click="signOutUser()" class="tab-item">
      <i class="icon ion-log-out"></i>
      Log Out
    </a>
  </div>
</ion-view>