<ion-view>
  <ion-content>
    <div class="card padding" style="margin: 30px;">
      <amcharts></amcharts>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-top" ng-controller="indexController">
    <a ng-click="" class="tab-item">
      <i class="icon ion-edit"></i>
      Exercise Logger
    </a>
    <a ng-click="clientButton()" class="tab-item">
      <i class="icon ion-ios-people"></i>
      Users
    </a>
    <a ng-click="yourExercises()" class="tab-item">
      <i class="icon ion-ios-paper"></i>
      Your Exercises
    </a>
    <a ng-click="signOutUser()" class="tab-item">
      <i class="icon ion-log-out"></i>
      Log Out
    </a>
  </div>
</ion-view>