<ion-view view-title="Name Here">
	<ion-nav-buttons side="right">
	  <a ng-controller="indexController" ng-click="signUp()" class="tab-item">
	    <i class="icon ion-person-add"></i>
	  </a>
	</ion-nav-buttons>
	<div class="bar-bar-subheader" style="margin-top: 65px;">
	  <label style="border: 0px;" class="item item-input">
	    <div class="input-label" style="margin: 0px 15px; width: 90%">
	      <span style="font-size: 22px; font-weight: bold; width: 90%">{{selectedTraineeName}}</span>  
	    </div> 
	    <button class="button-clear" style="width: 10%" ng-click="disableButton()" ng-show="selectedTraineeName != 'Select A Client'"><i class="ion ion-android-close" style="background: #fff; color: red ; font-size: 20px ; float: right"></i></button>     
	  </label>
		<label class="card item-input">
			<i style="margin-left: 15px;" class="icon ion-search placeholder-icon"></i>
			<input style="margin-left: 15px;" type="search" placeholder="Search" ng-model='filter_name'>
		</label>
		<div style="margin: 15px;">
			<button class="button button-block button-balanced" ng-click="addWorkOutLogger(selectTraineeId)" ng-disabled="buttonDisableLogger()"><i class="ion-plus"></i> Add Workout</button>		
		</div>
	</div>
	<ion-content style="margin-bottom:50px; margin-top: 175px;" class="has-subheader">
		<ion-refresher pulling-text="Pull to refresh" on-refresh="reloadTrainees()"></ion-refresher>
		<ion-list class="scroll" >
			<ion-item ng-click="filterTrainee(trainee)" class="item-remove-animate item-icon-right item-thumbnail-left" ng-repeat="trainee in trainees | filter: filter_name">
				<img gravatar-src="trainee.email" gravatar-size="50" style="border-radius: 50%; height: 60px; width: 60px;">
				<h3 style="margin-left: 15px;">{{trainee.first_name}} {{trainee.last_name}}</h3>
				<!-- <h4>{{trainee.email}}</h4> -->
				<p style="margin-left: 15px;">{{trainee.created_at | date: 'MMM dd, yyyy h:mm a'}}</p>
				<ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="removeTrainee(trainee)">Delete</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
	<div class="tabs tabs-icon-top" ng-controller="indexController">
	  <a ng-click="" class="tab-item">
	    <i class="icon ion-edit"></i>
	    Exercise Logger
	  </a>
	  <a ng-click="clientButton()" class="tab-item">
	    <i class="icon ion-ios-people"></i>
	    Users
	  </a>
	  <a ng-click="yourExercises()" class="tab-item">
	  	<i class="icon ion-ios-paper"></i>
	  	Your Exercises
	  </a>
	  <a ng-click="signOutUser()" class="tab-item">
	    <i class="icon ion-log-out"></i>
	    Log Out
	  </a>
	</div>
</ion-view>


