<ion-view view-title="Workouts">
	<ion-nav-buttons side="right">
	  <a ng-controller="indexController" ng-click="signUp()" class="tab-item">
	    <i class="icon ion-person-add"></i>
	  </a>
	</ion-nav-buttons>
	<ion-content>
<!-- 	<button class="button button-balanced button-block" ng-click="clientButton()" style="margin-top: 0px;">All Clients</button> -->
	<ion-refresher pulling-text="Pull to refresh" on-refresh="refreshSet()"></ion-refresher>
	<h2 align="center">{{exercises[0].typename}}</h2>
	<h2 align="center">{{exercises[0].traineefirstname}} {{exercises[0].traineelastname}}</h2>
	<h3 align="center">{{exercises[0].exercisename}}</h3>
		<ion-list class="" ng-repeat="exercise in exercises">
			<ion-item class="item-remove-animate item-icon-right">
				<!-- <div class="item"> -->
					<h1>{{exercise.setname}} | {{exercise.typename}} | {{exercise.exercisename}}</h1>
				<!-- </div> -->
				<!-- <div class="item item-body"> -->
					<h3>Reps: {{exercise.reps}}</h3>
					<h3>Weight: {{exercise.weight}}</h3>
					<p class="subdued">{{exercises[0].created_at | date: 'MMM dd, yyyy h:mm a'}}</p>
				<!-- </div> -->
				<ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="removeSet(exercise.setid)">Delete</ion-option-button>
			</ion-item>
		</ion-list>
		<ion-item>
		<div ng-controller="fileTransferController">
			<button ng-click="upload(exercise)">Sendfile</button>
		</div>
			<ionlist>
				<amcharts></amcharts>
			</ionlist>
		</ion-item>
	</ion-content>
	<div class="tabs tabs-icon-top" ng-controller="indexController">
	  <a ng-click="" class="tab-item">
	    <i class="icon ion-edit"></i>
	    Exercise Logger
	  </a>
	  <a ng-click="clientButton()" class="tab-item">
	    <i class="icon ion-ios-people"></i>
	    Users
	  </a>
	  <a ng-click="addSet(exercises[0].exerciseid)" class="tab-item">
	  	<i class="icon ion-ios-refresh-outline"></i>
	  	Add Set
	  </a>
	  <a ng-click="yourExercisesFromAddExercise(exercises[0].trainerid)" class="tab-item">
	  	<i class="icon ion-ios-paper"></i>
	  	Your Exercises
	  </a>
	  <a ng-click="signOutUser()" class="tab-item">
	    <i class="icon ion-log-out"></i>
	    Log Out
	  </a>
	</div>
</ion-view>

