<ion-view view-title="">
	<ion-nav-buttons side="right">
	  <a ng-controller="indexController" ng-click="signUp()" class="tab-item">
	    <i class="icon ion-person-add"></i>
	  </a>
	</ion-nav-buttons>
	<ion-content>
	<ion-refresher pulling-text="Pull to refresh" on-refresh="reloadTrainersExercise()"></ion-refresher>
	<div style="margin: 15px;">
		<button ng-controller="indexController" class="button button-block button-balanced" ng-click="addTrainerExercises()"><i class="ion-plus"></i> New Exercise</button>	
	</div>
		<ion-list>
			<ion-item ng-click="showExercise(exercise.exerciseid)" class=" item-remove-animate card" ng-repeat="exercise in exercises">
			<ion-grid class="">
				<ion-row>	
					<ion-col col-6>
						<span style = "font-size: 20px; font-weight: bold; vertical-align: top; line-height:20px">{{exercise.name}}</span>
					</ion-col>
					<ion-col col-6 style="">
							<span style="font-size: 16px; float: right; margin-bottom: 5px"> {{exercise.type}}</span>
					</ion-col>
				</ion-row>			
			</ion-grid>
				<ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="deleteTrainerExercise(exercise.id)">Delete</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>

	<div class="tabs tabs-icon-top" ng-controller="indexController">
	  <a ng-click="loggerButton()" class="tab-item">
	    <i class="icon ion-edit"></i>
	    Exercise Logger
	  </a>
	  <a ng-click="clientButton()" class="tab-item">
	    <i class="icon ion-ios-people"></i>
	    Users
	  </a>
	  <a ng-click="yourExercises()" class="tab-item">
	  	<i class="icon ion-ios-paper"></i>
	  	Your Exercises
	  </a>
	  <a ng-click="signOutUser()" class="tab-item">
	    <i class="icon ion-log-out"></i>
	    Log Out
	  </a>
	</div>
</ion-view>