<ion-view>
  <ion-content>
    <div class="card" style="margin: 40px;">
      <div class="list list-inset">
        <div class="item item-input">
          <input type="text" ng-model="trainee.first_name" placeholder="first name">
        </div>
        <div class="item item-input">
          <input type="text" ng-model="trainee.last_name" placeholder="last name">
        </div>
        <div class="item item-input">
          <input type="email" ng-model="trainee.email" placeholder="email">
        </div>
        <div class="item item-input">
          <input type="number" ng-model="trainee.age" placeholder="age">
        </div>
        <label class="item item-input item-select">
          <div class="input-label">
            Sex
          </div>
          <select name="sex" id="sex" ng-model="trainee.sex">
            <option value="">Select Sex</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>        
        </label>
        <div class="item item-input">
          <input type="number" ng-model="trainee.weight" placeholder="weight">
        </div>
      </div>
      <div class="padding">
        <button class="button button-block button-balanced" ng-click="signUpTrainee(trainee)">Submit</button>
      </div>
    </div>  
  </ion-content>
  <div class="tabs tabs-icon-top" ng-controller="indexController">
    <a ng-click="loggerButtonWithId({{trainerId}})" class="tab-item">
      <i class="icon ion-edit"></i>
      Exercise Logger
    </a>
    <a ng-click="clientButton()" class="tab-item">
      <i class="icon ion-ios-people"></i>
      Users
    </a>
    <a ng-click="yourExercisesFromAddExercise({{trainerId}})" class="tab-item">
      <i class="icon ion-ios-paper"></i>
      Your Exercises
    </a>
    <a ng-click="signOutUser()" class="tab-item">
      <i class="icon ion-log-out"></i>
      Log Out
    </a>
  </div>
</ion-view>