<ion-view view-title="">
	<ion-nav-buttons side="right">
	  <a ng-controller="indexController" ng-click="signUp()" class="tab-item">
	    <i class="icon ion-person-add"></i>
	  </a>
	</ion-nav-buttons>
	<ion-content style="margin-bottom: 50px;">
	<ion-refresher pulling-text="Pull to refresh" on-refresh="reloadTrainees()"></ion-refresher>
  <label style="border: 0px;" class="item item-input item-select">
    <div class="input-label" style="margin: 0px 15px; width: 100%">
      <span style="font-size: 22px; font-weight: bold; overflow: visible">Select a client</span>
    </div>
    <select name="Clients" id="Clients" ng-model="trainee" ng-change="showTraineeSelect(trainee)">
      <option>Select Client</option>
      <option value="{{trainee.id}}" ng-repeat="trainee in trainees | filter: filter_name">{{trainee.first_name}}</option>
      <option>
    </select>        
  </label>

		<label class="card item-input">
			<i style="margin-left: 15px;" class="icon ion-search placeholder-icon"></i>
			<input style="margin-left: 15px;" type="search" placeholder="Search" ng-model='filter_name'>
		</label>
		<ion-list>
			<ion-item ng-click="showTrainee(trainee)" class="item-remove-animate item-icon-right item-thumbnail-left" ng-repeat="trainee in trainees | filter: filter_name" >
				<img gravatar-src="trainee.email" gravatar-size="50" style="border-radius: 50%; height: 60px; width: 60px;">
				<h3 style="margin-left: 15px;">{{trainee.first_name}}</h3>
								
				<p style="margin-left: 15px;">{{trainee.created_at | date: 'MMM dd, yyyy h:mm a'}}</p>
				<i style="margin-right: 15px; font-size: 16px;" class="icon ion-arrow-right-b"></i>
				<ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="removeTrainee(trainee)">Delete</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
	<div class="tabs tabs-icon-top" ng-controller="indexController">
	  <a ng-click="loggerButton()" class="tab-item">
	    <i class="icon ion-edit"></i>
	    Exercise Logger
	  </a>
	  <a ng-click="clientButton()" class="tab-item">
	    <i class="icon ion-ios-people"></i>
	    Users
	  </a>
	  <a ng-click="yourExercises()" class="tab-item">
	  	<i class="icon ion-ios-paper"></i>
	  	Your Exercises
	  </a>
	  <a ng-click="signOutUser()" class="tab-item">
	    <i class="icon ion-log-out"></i>
	    Log Out
	  </a>
	</div>
</ion-view>

