<ion-view view-title="{{trainee.first_name}} {{trainee.last_name}}">
	<ion-nav-buttons side="right">
	  <a ng-controller="indexController" ng-click="signUp()" class="tab-item">
	    <i class="icon ion-person-add"></i>
	  </a>
	</ion-nav-buttons>
	<ion-content>
<!-- 	<button class="button button-balanced button-block" ng-click="clientButton()" style="margin-top: 0px;">All Clients</button> -->
	<ion-refresher pulling-text="Pull to refresh" on-refresh="reloadTraineesExercise()"></ion-refresher>
	<h3 style="text-align: center;">{{trainee.first_name}} {{trainee.last_name}}</h3>
	<ion-list>
		<ion-item>
			<h2 style="text-align: center">Total Workouts: {{count}}</h2>
			<h2 style="text-align: center">Last Workout Date: {{exercises[0].created_at | date: 'MMM dd, yyyy h:mm a'}}</h2>
		</ion-item>
	</ion-list>
		<ion-list>
			<ion-item ng-click="showExercise(exercise.exerciseid)" class="item-icon-right item-remove-animate" ng-repeat="exercise in exercises">
				<h1>{{exercise.exercisetypename}}</h2>
				<h2> Exercise Name: {{exercise.exercisename}}</h2>
				<h3>{{exercise.created_at | date: 'MMM dd, yyyy h:mm a'}}</h3>
				<i class="icon ion-arrow-right-b"></i>
				<ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="deleteExercise(exercise)">Delete</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
	<div class="tabs tabs-icon-top" ng-controller="indexController">
	  <a ng-click="" class="tab-item">
	    <i class="icon ion-edit"></i>
	    Exercise Logger
	  </a>
	  <a ng-click="clientButton()" class="tab-item">
	    <i class="icon ion-ios-people"></i>
	    Users
	  </a>
	  <a ng-click="addWorkOut(trainee.id)" class="tab-item">
	  	<i class="icon ion-ios-body"></i>
	  	Add Work Out
	  </a>
	  <a ng-click="yourExercisesFromAddExercise(trainee.trainer_id)" class="tab-item">
	  	<i class="icon ion-ios-paper"></i>
	  	Your Exercises
	  </a>
	  <a ng-click="signOutUser()" class="tab-item">
	    <i class="icon ion-log-out"></i>
	    Log Out
	  </a>
	</div>
</ion-view>
